#title {
  background-color: #5d5d5d;
}

h1 {
  color: #8db1ab;
  font-size: 25px;
  margin-bottom: 50px;
  margin-top: 50px;
  Margin-left: 135px;
  font-family: 'Rock Salt', cursive;
}
}
.image-heads {

    margin-left: 25%;

}
