#title {
  background: #30475e;
}

h1 {
  color: #8db1ab;
  font-size: 25px;
  margin-bottom: 50px;
  margin-top: 50px;
  Margin-left: 135px;
  font-family: 'Rock Salt', cursive;
}
}
.image-heads {

    margin-right: 50%;

}
.navbar-brand {
  font-family: 'Nanum Myeongjo', serif;
}
