#title {
  background-color: #5d5d5d;
}

h1 {
  color: white;
  font-size:30px;
  margin-bottom: 100px; Margin-left: 100px;
  font-family: 'Montserrat', sans-serif;

}
.image-heads {

    margin-left: 25%;

}
